In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

In [27]:
df=pd.read_csv('Downloads/price.csv')

In [28]:
df #experiment with my own dataset

   salary
0      50
1      20

# StandardScaler

In [29]:
reg=StandardScaler()

In [30]:
df['StandardScaler']=reg.fit_transform(df[['salary']])

In [31]:
df

   salary  StandardScaler
0      50             1.0
1      20            -1.0

# Min_Mix

In [32]:
from sklearn.preprocessing import MinMaxScaler
reg=MinMaxScaler()

In [33]:
df['MinMaxScaler']=reg.fit_transform(df[['salary']])

In [34]:
df

   salary  StandardScaler  MinMaxScaler
0      50             1.0           1.0
1      20            -1.0           0.0

# MixAbs

In [35]:
from sklearn.preprocessing import MaxAbsScaler as ms

In [36]:
df['MaxAbsScaler']=ms().fit_transform(df[['salary']])

In [37]:
df

   salary  StandardScaler  MinMaxScaler  MaxAbsScaler
0      50             1.0           1.0           1.0
1      20            -1.0           0.0           0.4

In [38]:
from sklearn.preprocessing import RobustScaler

In [39]:
df['RobustScaler']=RobustScaler().fit_transform(df[['salary']])

In [40]:
df

   salary  StandardScaler  MinMaxScaler  MaxAbsScaler  RobustScaler
0      50             1.0           1.0           1.0           1.0
1      20            -1.0           0.0           0.4          -1.0

# log_transfrom

In [41]:
from sklearn.preprocessing import FunctionTransformer

In [43]:
df['FunctionTransformer']=FunctionTransformer(np.log1p).fit_transform(df[['salary']])

In [44]:
df

,salary,StandardScaler,MinMaxScaler,MaxAbsScaler,RobustScaler,FunctionTransformer
0,50,1.0,1.0,1.0,1.0,3.931826
1,20,-1.0,0.0,0.4,-1.0,3.044522

# box_cox

In [46]:
from scipy.stats import boxcox

In [51]:
df['boxcox'] =boxcox(df['salary']+1)

In [52]:
df

,salary,StandardScaler,MinMaxScaler,MaxAbsScaler,RobustScaler,FunctionTransformer,boxcox
0,50,1.0,1.0,1.0,1.0,3.931826,"[3.931927411689432, 3.0445834625000194]"
1,20,-1.0,0.0,0.4,-1.0,3.044522,0.000013